<!--add_input.html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>
        Enter your Name
    </h1>
    <div class="name-input-form-and-button">
        <form id="name-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit">Submit Form</button>
        </form>
    <div>
    
</body>
</html>