<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>
        Form Submitted !!
    </h1>
    <p>
        elt:
        {{ out }}
    </p>
    <p>
        Check out my awesome about-page or home-page
        Here is my <a href ="/">home</a> page.
        Here is my <a href ="/about">about</a> page.
    </p>
</body>
</html>